body {
  padding: 4em;
  margin: 3em;
  border-radius: 2%;
  font-family: "Source Code Pro", monospace;
  background-image: url(../img/sky.jpg);
}

h2 {
  line-height: 1.5;
  font-size: 56px;
  margin-bottom: 0%;
}

h3 {
  line-height: 1.5;
}

ul {
  font-size: 30px;
  position: relative;
  top: -150px;
  left: 650px;
  list-style: none;
  line-height: 2;
}

footer {
  position: relative;
  bottom: -80px;
}

.active {
  color: black;
  cursor: default;
  text-decoration: none;
}

.active :hover {
  text-decoration: none;
}

.hour-forecast {
  position: relative;
  top: -62px;
  left: 200px;
  text-decoration: underline;
}

.city-input {
  border: none;
  background-color: rgb(247, 241, 241);
  border-radius: 8px;
  width: 245px;
  padding: 10px;
}

.fahrenheit {
  text-decoration: none;
}
.submit-form {
  border: none;
  border-color: transparent;
  background-color: transparent;
  border-radius: 8px;
  font-size: 25px;
  width: 40px;
  padding: 2px;
}

.current-city {
  border: none;
  background-color: transparent;
  border-radius: 8px;
  font-size: 25px;
  width: 40px;
  padding: 2px;
}
.col {
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 2px;
}
.container {
  background: #ecd2d1;
  max-width: 60%;
  margin: 0 auto;
  padding: 50px;
  border-radius: 8px;
}

.current-temperature {
  font-size: 110px;
  display: inline;
  position: relative;
  left: -52px;
}

.current-weather {
  margin-left: 0%;
}

.row {
  position: relative;
  right: -2px;
  font-size: 30px;
}

.units {
  position: relative;
  left: -50px;
  font-size: 20px;
  top: -50px;
}

.weather {
  position: relative;
  right: -95px;
  top: 10px;
  font-size: 50px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.weather-condition {
  position: relative;
  left: 350px;
  font-size: 25px;
}

.weather-description {
  margin-top: 6%;
}
.weather-font {
  font-size: 115px;
  list-style: none;
  display: inline;
  margin-right: 0%;
}
.week-forecast {
  position: relative;
  top: -100px;
  right: -10px;
  font-size: 30px;
}
